<!DOCTYPE html>
<html layout:decorate="~{layout/basic}">
<!-- 목록화면개발 p479 -->
<div layout:fragment="content">
  <!--p483 검색화면추가-->
  <div class="row mr-3">
    <form action="/board/list" method="get">

    </form>
  </div>
  <h1>hBoard List</h1>
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">card-header Board List</div>
        <div class="card-body">
          <h5 class="card-title">Board List</h5>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Bno</th>
              <th scope="col">Title</th>
              <th scope="col">Writer</th>
              <th scope="col">RegDate</th>
            </tr>
            </thead>
            <tbody>
              <tr th:each="dto:${responseDTO.dtoList}">
                <th scope="row">[[${dto.bno}]]</th>
                <td>[[${dto.title}]]</td>
                <td>[[${dto.writer}]]</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>
              </tr>
            </tbody>
          </table>

          <!-- START paging-->
          <div class="float-end">
            <ul class="pagination flex-wrap">
              <li class="page-item" th:if="${responseDTO.prev}">
                <a class="page-link" th:data-num="${responseDTO.start - 1}">Previous</a>
              </li>

              <th:block th:each="i : ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                <li th:class="${responseDTO.page == i} ? 'page-item active' : 'page-item'">
                  <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                </li>
              </th:block>

              <li class="page-item" th:if="${responseDTO.next}">
                <a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
              </li>
            </ul>
          </div>
          <!-- END paging-->
        </div><!--card-body-->
      </div><!--card-->
    </div><!--col-->
  </div><!-- row-->



</div>
<script layout:fragment="script" th:inline="javascript">
  document.querySelector(".pagination").addEventListener("click", function(e) {
    e.preventDefault();
    e.stopPropagation();

    const target = e.target;

    if (target.tagName != 'A') return;

    const num = target.getAttribute("data-num");
    const formObj = document.querySelector("form");
    formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`;
    formObj.submit();
  }, false);
</script>