<!DOCTYPE html>
<html layout:decorate="~{layout/jobbasic}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><!--START body-->
<div layout:fragment="content"><!--Slayout-->
    detail
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">card header
                    <h1>백엔드 개발자 모집(PHP, java)</h1>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Bno</span>
                        <input type="text" class="form-control" readonly value="1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">필수기술스택</span>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">주요업무</span>
                        와그 플랫폼과 차세대 비지니스 모델을 구축하는 신규 프로젝트의 백엔드 개발
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">경력</span>
                        3~10년
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">마감일</span>
                        2024-09-12
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">근무지역</span>
                        서울 종로구 경희궁길 36 (신문로2가) 경희당빌딩 4층
                    </div>

                </div><!-- end card body-->
            </div>
        </div>
    </div>



</div><!--END layout-->

index

</body>
</html>